* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v51_3 {
  width: 100%;
  height: 763px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v51_4 {
  width: 279px;
  height: 270px;
  background: url("../images/v51_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 262px;
  overflow: hidden;
}
.v51_5 {
  width: 633px;
  color: rgba(166,119,31,1);
  position: absolute;
  top: 54px;
  left: 536px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v51_6 {
  width: 484px;
  color: rgba(166,119,31,1);
  position: absolute;
  top: 107px;
  left: 566px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v51_7 {
  width: 448px;
  color: rgba(166,119,31,1);
  position: absolute;
  top: 156px;
  left: 584px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v51_8 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 109px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v51_15 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 675px;
  left: 136px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v57_14 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 109px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_15 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 679px;
  left: 136px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v57_20 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 109px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_21 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 679px;
  left: 136px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v57_22 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 109px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v57_23 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 680px;
  left: 130px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v51_16{
  
  width: 271px;
  height: 348px;
  background: url("../images/v51_16.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 51px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v51_17 {
  width: 274px;
  height: 348px;
  background: url("../images/v51_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 362px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v51_18 {
  width: 273px;
  height: 348px;
  background: url("../images/v51_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 701px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v51_19 {
  width: 274px;
  height: 348px;
  background: url("../images/v51_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 1039px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  overflow: hidden;
}
.v57_57 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 417px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_58 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 417px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_59 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 679px;
  left: 444px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v57_60 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 417px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_61 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 679px;
  left: 444px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v57_62 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 417px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v57_63 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 680px;
  left: 440px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v57_64 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 745px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_65 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 745px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_66 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 676px;
  left: 772px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v57_67 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 745px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_68 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 676px;
  left: 772px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v57_69 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 745px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v57_70 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 678px;
  left: 770px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v57_71 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 1086px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_72 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 1086px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_73 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 679px;
  left: 1113px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v57_74 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 1086px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v57_75 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 679px;
  left: 1113px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v57_76 {
  width: 160px;
  height: 60px;
  background: rgba(166,119,31,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 665px;
  left: 1086px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v57_77 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 680px;
  left: 1110px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
